<div class="card text-white bg-dark mb-5">
    <div class="card-header">
        <div class="row">
            <div class="col text-center">
                <b>{{localCard.title}}</b>
            </div>
        </div>
    </div>
    <img src="{{localCard.imgUrl}}" class="card-img-top bg-white" style="width: auto; height: 20rem;" alt="...">
    <div class="card-body bg-secondary">
        <div class="rows">
            <div class="row ">
                <div class="col text-center mb-2 mt-2">LEVEL</div>
                <div class="col text-center mb-2 mt-2">INCOME</div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h2>{{localCard.level}}</h2>
                </div>
                <div class="col text-center">
                    <h2>{{localCard.income}}$</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-lg btn-block text-white bg-success mt-2 mb-2" (click)="buy()">BUY FOR
                        {{localCard.cost}}$</button>
                </div>
            </div>
        </div>
    </div>
</div>